.mobile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.mobile-header h1 {
  font-size: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 80%;
  display: none;
  height: 30px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 8px;
  outline: none;
  margin-top: 20px;
}
.product-category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-title {
  font-size: 18px;
  margin-top: 15px;
  width: 82%;
  /* margin-bottom: -80px; */
}

.icon-search:hover{
    cursor: pointer;
}

.hide-hamburguer:hover{
cursor: pointer;
}

@media screen and (min-width: 800px) {
  .mobile-header .hide-hamburguer {
    display: none;
  }
  .mobile-header .icon-search {
    display: none;
  }
  .search-container {
    justify-content: flex-end;
    width: 95%;
  }
  .search-container input {
    width: 200px;
    display: block;
    margin-left: 65%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    padding: 8px;
    outline: none;
  }

  .product-category {
    justify-content: flex-start;
    width: 70%;
  }

  .product-category {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-title {
    font-size: 18px;
    margin-top: 15px;
    width: 90%;
    margin-bottom: -80px;
  }
}
