.multi-slider{

  width: 60%;
  padding-left: 10px;
}
.priceSlider {
  width: 50%;
  background-color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
}

.min {
  float: left;
}
.max {
  float: right;
}
.min-max {
  width: 100%;
  max-width: 200px;
  margin-bottom: -20px;
  margin-top: 40px;
}
.min-max span {
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 30px;
  border: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
}
.min-max-range {
  padding-top: 35px;
}
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 2px;
  max-width: 400px;
  background-color: black;
  margin: 0;
  padding: 0;
  outline: none;
  float: left;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.range::moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 300px) {
  .priceSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .min-max {
    max-width: 260px;
  }
}
