.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.product-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 10px;
  height: 360px;
}

.product-image {
  height: 70%;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding-top: 15px;
  margin-top: 50px;
}

.image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  box-shadow: -15px -25px 29px rgba(255, 255, 255, 0.1),
    0px 5px 9px rgba(94, 104, 121, 0.1);
}

.image:hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: 0.3s;
}

.category {
  margin-top: 25px;
  color: #c7c7c7;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.name {
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.discount {
  color: #fff;
  background-color: #f3595a;
  width: 40px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  margin-left: -55px;
  margin-top: 20px;

}

.price-container {
  margin-top: 8px;
  color: #626262;
}

.price {
  color: #ff7a7a;
  font-weight: bold;
  font-size: 16px;
}
.hide-hamburguer {
  font-size: 20px;
}
.icon-search {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  .product-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    transition: margin-left 0.5s;
  }

  .product-container {
    margin-top: 60px;
    width: 100%;
  }

  .product {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .product-container {
    margin-top: 70px;
  }
  .product {
    width: 30%;
  }
}

@media screen and (min-width: 1444px) {
  .product {
    width: 22%;
  }
}
