.sidebar {
  position: fixed;
  height: 100%;
  padding-top: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.5s;
  width: 0;
  background: #fff;
  overflow-x: hidden;
}
.title {
  display: none;
}

.orderBy {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.orderBy button {
  background-color: white;
  border: none;
  text-align: left;
  width: 100%;
}

.orderBy button {
  color: black;
  font-size: 15px;
  font-weight: 100;
}

.orderBy button:hover::after {
  transform: translate(0, 0);
}

.orderBy button:hover {
  transform: scale(1.01);
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .closeSideBarButton {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
  color: black;
  cursor: pointer;
}
.categories {
  height: 100px;
}

.categories-container {
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar input[type="checkbox"] {
  accent-color: #313131;
}

.orderSelected {
  border: 1px solid black;
}

.accordion-button{

  padding-right: 50% !important;
}



@media screen and (min-width: 300px) {
  .sidebar {
    border-right: 1px solid lightgrey;
  }

  .sidebar > .hide-hamburguer {
    visibility: hidden;
  }
}

@media screen and (min-width: 800px) {
  .sidebar {
    width: 280px !important;
    border-right: 1px solid lightgrey;
  }
  .title {
    display: block;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 20px;
  }

  .sidebar .closeSideBarButton {
    display: none;
  }

  .sidebar > .hide-hamburguer {
    visibility: hidden;
  }
  .mobile-title {
    display: none;
  }
}
